.block__mod-val-list
{
    margin: 10px 0;

    text-align: left;
}

.block__mod-val-name,
.block__mod-val-title
{

    margin: 0;
    padding: 0 0 5px 0;
}

.block__mod-val-name
{
    padding-right: 10px;
}

