.block
{
    padding-left: 40px;
    /* margin-right: 30%; */

    position: relative;
}

.block__name
{
    font-size: 22px;
    line-height: 1.45;

    margin: 0 0 1.2em -20px;
}

.block__examples
{
    padding: 5px 0 0;
}